// Woff2 Neometric

@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Black.woff2);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-ExtraBold.woff2);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-ExtraLight.woff2);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Hairline.woff2);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Heavy.woff2);
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Light.woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

// Woff Neometric

@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Black.woff);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-ExtraBold.woff);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-ExtraLight.woff);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Hairline.woff);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Heavy.woff);
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Medium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Neometric";
    src: url(../../public/fonts/Neometric/Neometric-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

// Woff2 Monument


@font-face {
    font-family: "Monument Extended";
    src: url("../../public/fonts/MonumentExtended/Monument\ Extended\ Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Monument Extended";
    src: url("../../public/fonts/MonumentExtended/Monument\ Extended\ Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

// Woff monument

@font-face {
    font-family: "Monument Extended";
    src: url("../../public/fonts/MonumentExtended/Monument\ Extended\ Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Monument Extended";
    src: url("../../public/fonts/MonumentExtended/Monument\ Extended\ Bold.woff");
    font-weight: 700;
    font-style: normal;
}